{
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "10.23"
            },
            "modules": "commonjs"
          }
        ]
      ]
    },
    "module": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "12.20"
            },
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "10.23"
            },
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "src": "./common"
            }
          }
        ]
      ]
    },
    "test-mjs": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "12.20"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "src": "./lib"
            }
          }
        ]
      ]
    }
  },
  "sourceMaps": true
}
